<a href="https://colab.research.google.com/github/chandrakishan/Blog-Project/blob/master/panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
list = ['g', 'e', 'e', 'k', 's']
ser = pd.Series(list)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [3]:

data = {'Name':["sid", "mani", "vikash", "bishal", "kishan"],"Roll" : [207,520,152,235,856],"Age": [10,25,32,65,21]}
df = pd.DataFrame(data, columns =["Name","Roll","Age"])
print(df)

     Name  Roll  Age
0     sid   207   10
1    mani   520   25
2  vikash   152   32
3  bishal   235   65
4  kishan   856   21

In [4]:
url = "https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv"
df = pd.read_csv(url)
print(df.head())
print(df.columns)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [8]:
url = "https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/test.csv"
df = pd.read_csv(url)
print(df)

     PassengerId  Pclass  ... Cabin Embarked
0            892       3  ...   NaN        Q
1            893       3  ...   NaN        S
2            894       2  ...   NaN        Q
3            895       3  ...   NaN        S
4            896       3  ...   NaN        S
..           ...     ...  ...   ...      ...
413         1305       3  ...   NaN        S
414         1306       1  ...  C105        C
415         1307       3  ...   NaN        S
416         1308       3  ...   NaN        S
417         1309       3  ...   NaN        C

[418 rows x 11 columns]

In [13]:
import pandas as pd
from google.colab import files
uploaded=files.upload()

MessageError: ignored

In [19]:
titanic = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic.to_excel("titanic.xlsx", sheet_name="passengers", index=False)

AttributeError: ignored